{% if page.paginator.num_pages > 1 %}
<div class="pa-pagination">
  {% if page.has_previous %}
    <a class="pa-btn pa-small" href="{% querystring page=page.previous_page_number %}">قبلی</a>
  {% endif %}
  <span class="pa-help" style="align-self:center">صفحه‌ی {{ page.number }} از {{ page.paginator.num_pages }} ({{ page.paginator.count }} مورد)</span>
  {% if page.has_next %}
    <a class="pa-btn pa-small" href="{% querystring page=page.next_page_number %}">بعدی</a>
  {% endif %}
</div>
{% endif %}
