{% extends "base.html" %}
{% load static persian %}

{% block header %}
{% include header_variant_template with header_config=layout_header_config is_live_storefront=True is_builder_preview=False %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/storefront_builder.css' %}">
{% endblock %}

{% block content %}
<div class="wrap sfb-preview-sections">
  {% include "storefront_builder/partials/render_rows.html" %}
</div>
{% endblock %}

{% block footer %}
{% include "storefront_builder/partials/page_shell_footer.html" with footer_config=layout_footer_config is_live_storefront=True is_builder_preview=False %}
{% endblock %}
