/**
 * IRANYekanX Pro v4.0
 * Copyright: Commercial/Proprietary — fontiran.com
 * License: VM6VH9
 */

/* Variable font */
@font-face {
  font-family: 'IRANYekanX Variable';
  src: url("") format('woff2 supports variations'),
       url("") format('woff2-variations');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

/* Static weights */
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:100; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:200; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:300; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:400; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:500; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:600; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:700; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:800; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:850; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:900; font-style:normal; font-display:swap; }
@font-face { font-family:'IRANYekanX'; src:url("") format('woff2'); font-weight:950; font-style:normal; font-display:swap; }
